# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.tox/
.venv/
venv/
env/

# Database file
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.iml

# NiceGUI / FastAPI cache
.nicegui/

# Test cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db
